body{
    background: #ffffff;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*padding: 24px; */

}

.flex_item{
    padding: 16px;
    text-align: left;
}

.productImages{
    width: 640px;
    height: 480px;
    border-radius:6px;
}

img{
    width: 100%;
}